{% extends "base.html" %}
{% load staticfiles %}


{% block document_container %}


<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">




<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Admin
            <small>admin approved user</small>
        </h6>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <table id="example" class="table table-sm table-striped table-bordered nowrap display"
                style="width:100%">
                <thead>
                    <tr>
                        <th>
                            <div class="border-checkbox-section">
                                <div class="checkbox-color checkbox-danger">
                                    <input type="checkbox" name="checkedAll" id="checkedAll">
                                    <label for="checkedAll"> Check All</label>
                                </div>
                            </div>
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Date Join</th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th>
                            <div class="border-checkbox-section">
                                <div class="checkbox-color checkbox-warning">
                                    <input id="checkbox{{user.id}}" type="checkbox" name="checkAll[]"
                                        value="{{user.id}}" class="checkSingle">
                                    <label for="checkbox{{user.id}}">{{user.id}}</label>
                                </div>
                            </div>
                        </th>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.date_joined}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" name="approved"
                class="btn btn-primary btn-sm">Approved</button>
            <button type="submit" name="reject"
                class="btn btn-secondary btn-sm">Reject</button>
        </form>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#example').DataTable({
            responsive: true,
            scrollCollapse: true,
            paging: false,
            bInfo: false,

        });
    });
</script>

<script>
    $(document).ready(function () {
        $("#checkedAll").change(function () {
            if (this.checked) {
                $(".checkSingle").each(function () {
                    this.checked = true;
                })
            } else {
                $(".checkSingle").each(function () {
                    this.checked = false;
                })
            }
        });

        $(".checkSingle").click(function () {
            if ($(this).is(":checked")) {
                var isAllChecked = 0;
                $(".checkSingle").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#checkedAll").prop("checked", true); }
            } else {
                $("#checkedAll").prop("checked", false);
            }
        });
    });
</script>
{% endblock document_container %}