{% extends "base_not_nav.html" %}
{% load staticfiles %}
{% load i18n %}
{% block document_container %}
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Authentication card start -->
                        <form class="md-float-material form-material"  method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <br><br>
                                <h1>logo</h1>
                                <br>
                            </div>
                            <div class="auth-box card">
                                <div class="card-block">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <h3 class="text-center txt-primary">Sign Up</h3>
                                        </div>
                                    </div>
                                    <p class="text-muted text-center p-b-5">Sign up with your regular account</p>
                                    <div class="form-group form-primary">
                                        {{form.email}}
                                        {{form.username}}
                                        {{form.errors.username}}
                                        {{form.errors.email}}
                                        <span class="form-bar"></span>
                                        {% comment %} <label class="float-label">Email</label> {% endcomment %}
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-primary">
                                                {{form.first_name}}
                                                {{form.errors.first_name}}
                                                <span class="form-bar"></span>
                                                {% comment %} <label class="float-label">First Name</label> {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-primary">
                                                {{form.last_name}}
                                                {{form.errors.last_name}}
                                                 <span class="form-bar"></span>
                                                {% comment %} <label class="float-label">Last Name</label> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group form-primary">
                                                {{form.password1}}
                                                {{form.errors.password1}}
                                                <span class="form-bar"></span>
                                                {% comment %} <label class="float-label">Password</label> {% endcomment %}
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-primary">
                                                {{form.password2}}
                                                {{form.errors.password2}}
                                                <span class="form-bar"></span>
                                                {% comment %} <label class="float-label">Confirm Password</label> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="row m-t-25 text-left">
                                        <div class="col-12">
                                            
                                            <div class="forgot-phone text-right float-right">
                                                <a href="auth-reset-password.html" class="text-right f-w-600"> Forgot
                                                    Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" name="registerbtn" type="submit">{% trans "Sign Up" %} </button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->

            <!-- end of container-fluid -->
        
{% endblock document_container %}