{% extends "base_not_nav.html" %}
{% load i18n %}
{% load static %}

{% block document_container %}


<div class="container mt-3">
    <div class="row text-dark">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow-sm mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{% trans "Setting Password" %}</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div id="sales-analytics" class="chart-shadow" style="height:auto">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">{% trans "Old Password" %}</label>
                                        <div class="col-sm-9">
                                            {{ form.password0 }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">{% trans "New Password" %}</label>
                                        <div class="col-sm-9">
                                            {{ form.password1 }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">{% trans "Confirm Password" %}</label>
                                        <div class="col-sm-9">
                                            {{ form.password2 }}
                                        </div>
                                    </div>
                                    {% if form.non_field_errors %}
                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-warning" role="alert">{{ error }}</div>
                                    {% endfor %}
                                    {% endif %}

                                    <button class="btn btn-primary waves-effect waves-light " name="cpBtn"
                                        type="submit">{% trans "Submit" %}</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <i class="fas fa-unlock-alt text-secondary fa-9x "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock document_container %}