{% extends "base_not_nav.html" %}
{% load staticfiles %}
{% load i18n %}
{% block document_container %}



    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center p-5">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body">
                        <!-- Nested Row within Card Body -->
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="p-3">
                                    <div class="text-center">
                                        <h1 class="h5 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>

                                    <form class="user" method="POST">
                                        {% csrf_token %}

                                        <div class="form-group form-primary">
                                            {% if request.GET.next %}
                                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                                            {% endif %}
                                            {{form.username }}
                                            <span class="form-bar"></span>
                                            {% comment %} <label class="float-label">Email</label> {% endcomment %}
                                        </div>
                                        <div class="form-group form-primary">
                                            {{form.password }}
                                            <span class="form-bar"></span>
                                            {% comment %} <label class="float-label">Password</label> {% endcomment %}
                                        </div>
                                        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                                        <div class="alert alert-warning" role="alert">{{ error }}</div>
                                        {% endfor %} {% endif %}
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <div class="row text-left">
                                            <div class="col-12">

                                                <div class="forgot-phone text-right float-right">
                                                    <a href="{% url 'ManageUsers:password_reset_request' %}"
                                                        class="text-right f-w-600"> Forgot
                                                        Password?</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-md-12">
                                                <button class="btn btn-primary btn-user btn-block" name="loginBtn"
                                                    type="submit">Sign in</button>
                                            </div>
                                        </div>
                                        <p class="text-inverse text-left mt-3">Don't have an account?
                                            <a href="/ManageUsers/UserSignup/">
                                                <b>
                                                    <u>
                                                        Register here
                                                    </u>
                                                </b>
                                            </a>
                                        </p>
                                    </form>
                                    <hr>


                                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                                        <img src="{% static 'img/main-img/google-img/btn_google_dark_normal_ios.svg' %}"
                                            class="img-fluid" alt="Responsive image">
                                    </a>


                                    <a id="if_fb" href="{% url 'social:begin' 'facebook' %}">
                                        <img src="{% static 'img/main-img/facebook-img/f_logo_RGB-Blue_58.png' %}"
                                            class="img-fluid" alt="Responsive image" width="5%">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock document_container %}