{% extends "base_not_nav.html" %}
{% load staticfiles %}
{% load i18n %}
{% block document_container %}

    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center p-5">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body">
                        <form class="md-float-material form-material" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <br>
                            </div>
                            <div class="row m-b-20 mb-2">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">{% trans "Forget Password" %}</h3>
                                </div>
                            </div>

                            <div class="form-group form-primary">
                                <div class="ui left icon input">
                                    <div class="row m-t-25 text-left">
                                        <div class="col-12">
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    {% if form.email.errors %}
                                    <div class="alert alert-warning" role="alert">{{ form.email.errors }}</div>
                                    {% endif %}
                                    <div class="row m-t-30">
                                        <div class="col-md-12 mt-3">
                                            <button
                                                class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                                                name="resetBtn" type="submit">{% trans "Submit" %}</button>
                                            <p class="text-inverse text-right ">
                                                <a href="{% url 'ManageUsers:login'%}"><u>{% trans "Cancel" %}</u></a>
                                            </p>
                                        </div>
                                    </div>
                                    <p class="text-inverse text-left">Don't have an account?<a
                                            href="/ManageUsers/UserSignup/">
                                            <b><u>Register here</u></b></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock document_container %}