{% extends "base_not_nav.html" %}
{% load staticfiles %}
{% load i18n %}
{% block document_container %}
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Authentication card start -->
                        <form class="md-float-material form-material" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <br><br>
                                <h1>logo</h1>
                                <br>
                            </div>
                            <div class="auth-box card">
                                <div class="card-block">
                                    <div class="row m-b-20">
                                        <div class="col-md-12">
                                            <h3 class="text-center txt-primary">{% trans "Set new password" %}</h3>
                                        </div>
                                    </div>
                                    <div class="form-group form-primary">
                                            {{form.password1 }}
                                        <span class="form-bar"></span>
                                        {% comment %} <label class="float-label">Password</label> {% endcomment %}
                                    </div>
                                    <div class="form-group form-primary">
                                        <div class="ui left icon input">
                                            <div class="row m-t-25 text-left">
                                                <div class="col-12">
                                                        {{ form.password2 }}
                                                </div>
                                            </div>

                                            {% if form.non_field_errors %}
                                            {% for error in form.non_field_errors %}
                                            <div class="alert alert-warning" role="alert">{{ error }}</div>
                                            {% endfor %}
                                        {% endif %}

                                            <div class="row m-t-30">
                                                <div class="col-md-12">
                                                    <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                                                        name="resetBtn" type="submit">{% trans "Submit" %}</button>
                                                    <p class="text-inverse text-right ">
                                                        <a href="{% url 'ManageUsers:login'%}"><u>{% trans "Cancel" %}</u></a>
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="text-inverse text-left">Don't have an account?<a href="/ManageUsers/UserSignup/">
                                                    <b><u>Register here</u></b></a></p>
                                        </div>
                                    </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->

            <!-- end of container-fluid -->
        
{% endblock document_container %}