{% extends "base_not_nav.html" %} {% load i18n %} {% load static %} {% block document_container %}
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Authentication card start -->
                        <form class="text-center" method="POST" >
                            {% csrf_token %}
                            <div class="text-center">
                                <br><br>
                                <h1>logo</h1>
                                <br>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row ">
                                        <div class="col-12">
                                            <h6 class="text-center txt-primary">{% trans "System message" %}</h6>
                                            <meta http-equiv="refresh" content="{{ displaytime }};url={{ goto }}">
                                    <div class="{{ type }}">
                                        <br>
                                    <p class="f-14 text-dark text-center">{{ message_header }}</p>
                                    <p class="f-14 text-dark text-center">{{ message_detail }}</p>
                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->



            {% endblock document_container %}