{% extends "base_not_nav.html" %}
{% load staticfiles %}
{% load i18n %}
{% block document_container %}


    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center p-5">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body">
                        <form class="p-4" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Sign Up</h3>
                                </div>
                            </div>
                            <p class="text-muted text-center ">Sign up with your regular account</p>

                            <div class="row pb-2">
                                <div class="col-sm-12">
                                 <label>{{form.username.label}}:</label>
                                   {{form.username}}
                                   {{form.errors.username}}
                                </div>
                            </div>
                            
                            <div class="pt-0 pb-2">
                                <label>{{form.email.label}}:</label>
                                {{form.email}}
                                {{form.errors.email}}
                                <span class="form-bar"></span>
                            </div>
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="pt-0 pb-2">
                                        <label>{{form.first_name.label}}:</label>
                                        {{form.first_name}}
                                        {{form.errors.first_name}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pt-0 pb-2">
                                        <label>{{form.last_name.label}}:</label>
                                        {{form.last_name}}
                                        {{form.errors.last_name}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="pt-0 pb-2">
                                        <label>{{form.password1.label}}:</label>
                                        {{form.password1}}
                                        {{form.errors.password1}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pt-0 pb-2">
                                        <label>{{form.password2.label}}:</label>
                                        {{form.password2}}
                                        {{form.errors.password2}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="pt-0 pb-2">
                                        <label>{{form.national_id.label}}:</label>
                                        {{form.national_id}}
                                        {{form.errors.national_id}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="pt-0 pb-2">
                                        <label>{{form.mobile_tel.label}}:</label>
                                        {{form.mobile_tel}}
                                        {{form.errors.mobile_tel}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="pt-0 pb-2">
                                        <label>{{form.organization.label}}:</label>
                                        {{form.organization}}
                                        {{form.errors.organization}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="pt-0 pb-2">
                                        <label>{{form.sub_organization.label}}:</label>
                                        {{form.sub_organization}}
                                        {{form.errors.sub_organization}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                    <div class="pt-0 pb-2">
                                        <label>{{form.department.label}}:</label>
                                        {{form.department}}
                                        {{form.errors.department}}
                                        <span class="form-bar"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="alert alert-secondary p-0 pl-1" role="alert">
                                User Agreements:
                            </div>
                            <div class="row">
                                <div class="col-12" style="overflow-y: scroll; height: 150px;">
                                    content
                                    <br>.
                                    <br>.
                                    <br>.

                                    <br>
                                    <br>

                                    <div class="alert alert-info p-1" role="alert">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1"
                                                name="user_agree" value="ok" required>
                                            <label class="form-check-label" for="exampleCheck1">I, hereby, read and
                                                accept the agreements of using the system.</label>
                                        </div>
                                    </div>

                                </div>
                            </div>


                            <div class="row mt-2 text-left">
                                <div class="col-12">

                                    <div class="forgot-phone text-right float-right">
                                        <a href="{% url 'MainApp:home' %}" class="text-right f-w-600">Login</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
                                        name="registerbtn" type="submit">{% trans "Sign Up" %} </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock document_container %}