{% extends "base_tab.html" %} {% load i18n %} {% load static %} {% block document_container %}

<div class="container mt-3">
    <div class="row text-dark">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow-sm mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        {% trans "Profile Setting" %}
                    </h6>
                </div>
                <div class="card-body">


                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">First name:</label>
                                    <input type="text" class="form-control" value="{{user2.first_name}}" name="first_name">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">Last name:</label>
                                    <input type="text" class="form-control" value="{{user2.last_name}}" name="last_name">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">National ID:</label>
                                    <input type="text" class="form-control" value="{{profile.nationd_id}}" name="nationd_id">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">Mobile Tel:</label>
                                    <input type="text" class="form-control" value="{{profile.mobile_tel}}" name="mobile_tel">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">Organization:</label>
                                    <input type="text" class="form-control" value="{{profile.organization}}" name="organization">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">Sub Organization:</label>
                                    <input type="text" class="form-control" value="{{profile.sub_organization}}" name="sub_organization">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label for="">Department:</label>
                                    <input type="text" class="form-control" value="{{profile.department}}" name="department">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pl-5 pr-5">Save</button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>

<script>
    if ('{{status}}' != 'None') {
        $.alert({
            theme: 'Modern',
            type: 'green',
            title: '{{status}}',
            // content:'',
            icon: 'fas fa-check',
            autoClose: 'ok|500',

        })
    }
</script>
{% endblock document_container %}