{% load static %}
<html>

<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        @page {
            /* size: A4; */
            margin: 1cm;
        }
        body {
            font-size: 14px;
        }
    </style>
</head>

<body>
    <div class="row text-center">
        <div class="col-12">
            <h4>Report</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% for i in welcome %}
            {{i}}
            {% endfor %}

    <br><br>
            {{welcome}}
        </div>
    </div>

</body>

</html>