{% load static i18n %} {% load i18n %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>VarDetect</title>
    <!-- Custom fonts for this template-->
    <link href="{% static 'UI/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    {% comment %}
    <link href="https://fonts.googleapis.com/css?family=Sarabun:100,200,300,400,500&display=swap" rel="stylesheet">
    {% endcomment %}

    <!-- Custom styles for this template-->
    <link href="{% static 'UI/css/sb-admin-2.css' %}" rel="stylesheet">
    <link href="{% static 'UI/css/ffolders.min.css' %}" rel="stylesheet">
    
    <!-- CSS UI -->
    <link rel="stylesheet" href="{% static 'UI/jquery-ui/jquery-ui.css' %}">
    
    <!-- jquery JS -->
    <script src="{% static 'UI/vendor/jquery/jquery.min.js' %}"></script>
    
    <!-- datatables JS -->
    <script src="{% static 'UI/jq_lib/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'UI/jq_lib/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'UI/jq_lib/datatables/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'UI/jq_lib/datatables/responsive.bootstrap4.min.js' %}"></script>
    <script src="{% static 'UI/jq_lib/datatables/dataTables.select.min.js' %}"></script>
    <!-- datatables css -->
    <link rel="stylesheet" href="{% static 'UI/jq_lib/datatables/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'UI/jq_lib/datatables/responsive.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'UI/jq_lib/datatables/select.dataTables.min.css' %}">

    <!-- jquery confirm -->
    <link rel="stylesheet" href="{% static 'UI/jq_lib/jquery_confirm/jquery-confirm.min.css' %}">
    <script src="{% static 'UI/jq_lib/jquery_confirm/jquery-confirm.min.js' %}"></script>


    <link href="{% static 'bootstrap4-toggle/css/bootstrap4-toggle.min.css' %}" rel="stylesheet">
    <script src="{% static 'bootstrap4-toggle/js/bootstrap4-toggle.min.js' %}"></script>

    <!-- jquery multi select -->
    <link rel="stylesheet" type="text/css" href="{% static 'UI/jq_lib/multi-select-master/css/multi-select.css' %}">
    <script src="{% static 'UI/jq_lib/multi-select-master/js/jquery.multi-select.js' %}"></script>

    <!-- upload dropzone -->
    <link rel="stylesheet" href="{% static 'UI/jq_lib/dropzone/dropzone5.5.1.css' %}">
    <link rel="stylesheet" href="{% static 'UI/jq_lib/dropzone/basic5.5.1.css' %}">
    <script src="{% static 'UI/jq_lib/dropzone/dropzone5.5.1.js' %}"></script>

    <!-- Echart JS -->
    <script src="{% static 'UI/jq_lib/echartjs/echarts.js' %}"></script>
    <script src="{% static 'UI/jq_lib/echartjs/dataTool.min.js' %}"></script>
    <script src="{% static 'UI/jq_lib/echartjs/echarts-gl.min.js' %}"></script>

    <!-- random color JS -->
    <script src="{% static 'UI/jq_lib/randomColor.min.js' %}"></script>
</head>

<div class="bodytop">
    <div class="loader"></div>
</div>
<script>
    window.addEventListener("load", function () {
        $('.bodytop').fadeOut()
    });
</script>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fab fa-connectdevelop"></i>
                </div>
                <div class="sidebar-brand-text mx-3">VarDetect </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <i class="fas fa-home"></i>
                    <span>Home</span></a>
            </li>



            {% if request.user.groups.all.0.name == 'admin' %}
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Admin
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/ManageUsers/AdminApproved/">
                    <i class="far fa-thumbs-up"></i>
                    <span>Approved user</span></a>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/Project/SRAMatching/">
                    <i class="fas fa-swatchbook"></i>
                    <span>SRA Matching</span></a>
            </li>
            {% endif %}



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Navigation
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-project-diagram"></i>
                    <span>Project</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Project:</h6>
                        <a class="collapse-item" href="/Project/new_project/">Create new project</a>
                        <a class="collapse-item" href="/Project/all_project/">All project</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/Project/SRA/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>SRA</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <!-- <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div> -->
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <!-- <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a> -->
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter"></span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <!-- <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a> -->
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span
                                    class="mr-2 d-none d-lg-inline text-gray-600 small">{{ user.get_full_name }}</span>
                                <img class="img-profile rounded-circle" src="/media/{{user.user_profile.img_profile}}">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/ManageUsers/ProfileSetting/">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="/ManageUsers/user/change_password/">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                        {% else %}
                        <a href="/home/" class="">
                            Login
                        </a>
                        {% endif %}
                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% block document_body %}
                    <div class="" style="padding: 0px">
                        {% block document_grid %} {% endblock document_grid %}
                    </div>


                    <div class="" style="height:auto; display: flex;  min-height: 70vh; flex-direction: column;">
                        {% block document_container %} {% endblock document_container %}
                    </div>


                    <div class="" style="padding: 20px">
                        {% block document_grid_2 %} {% endblock document_grid_2 %}
                    </div>
                    {% endblock document_body %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; NBT <span id="yeary">2019</span></span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <script>
        jQuery(function () {
            var d = new Date();
            var n = d.getFullYear();
            document.getElementById("yeary").innerHTML = n;
        })

    </script>
    <!-- <img src="{% static 'img/meta-img/biobank-logo.png' %}" class="img-fluid ml-4" alt="Responsive image" width="10%" id="img_nbt"> -->


    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/ManageUsers/logout/">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'UI/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'UI/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'UI/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'UI/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- jquery ui -->
    <script src="{% static 'UI/jquery-ui/jquery-ui.js' %}"></script>














    {% comment %} <!-- upload file -->
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/jquery.iframe-transport.js' %}"></script>
    <!-- The basic File Upload plugin -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/jquery.fileupload.js' %}"></script>
    <!-- The File Upload processing plugin -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/jquery.fileupload-process.js' %}"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/jquery.fileupload-image.js' %}"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/jquery.fileupload-audio.js' %}"></script>
    <!-- The File Upload video preview plugin -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/jquery.fileupload-video.js' %}"></script>
    <!-- The File Upload validation plugin -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/jquery.fileupload-validate.js' %}"></script>
    <!-- The File Upload user interface plugin -->
    <script src="{% static '/UI/jq_lib/File_Upload/js/jquery.fileupload-ui.js' %}"></script> {% endcomment %}
    
</body>

</html>