{% extends "base_not_nav.html" %}
{% load i18n %}
{% load static %}

{% block document_container %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery.filer@1.3.0/css/jquery.filer.css">
<script src="https://cdn.jsdelivr.net/npm/jquery.filer@1.3.0/js/jquery.filer.min.js"></script>


<form action="{% url 'upload:local_upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="file_upload[]" id="filer_input" multiple="multiple">
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

<script>
    $(document).ready(function () {
        $('#filer_input').filer({
            limit: 1,
            // maxSize: 1,
            // extensions: ["xlsx", "csv", "tsv"],
            // showThumbs: true,
            captions: {

                errors: {
                    filesLimit: "Only files are allowed to be uploaded.",
                    filesType: "Format file error.",
                    filesSize: "is too large! Please upload file up to MB.",
                    filesSizeAll: "Files you've choosed are too large! Please upload files up to MB.",
                    folderUpload: "You are not allowed to upload folders."
                }
            }
        });
    });
</script>

{% endblock document_container %}