{% extends "base_not_nav.html" %} {% load i18n %} {% load static %} {% block document_container %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>


<div class="container-fluid mt-4">
    Hello
</div>

<script>
</script>

{% endblock document_container %}