{% extends "base_not_nav.html" %}
{% load staticfiles %}

{% block document_container %}


<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-8 text-center mb-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3>Content Presentation</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <form class="user" method="POST">
                        {% csrf_token %}
                        <h4 class="text-center">Sign in</h4>
                        <br>
                        <div class="form-group form-primary">
                            {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                            {% endif %}
                            {{form.username }}
                            <span class="form-bar"></span>
                        </div>
                        <div class="form-group form-primary">
                            {{form.password }}
                            <span class="form-bar"></span>
                        </div>
                        {% if form.non_field_errors %} {% for error in form.non_field_errors %}
                        <div class="alert alert-warning" role="alert">{{ error }}</div>
                        {% endfor %} {% endif %}
                        <br>
                        <div class="row text-left">
                            <div class="col-12">

                                <div class="forgot-phone text-right float-right">
                                    <a href="{% url 'ManageUsers:password_reset_request' %}"
                                        class="text-right f-w-600 text-muted">
                                    Forgot Password?</a>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-user btn-block" name="loginBtn" type="submit">Sign
                                    in</button>
                            </div>
                        </div>
                        <p class="text-inverse text-left mt-3">Don't have an account?
                            <a href="/ManageUsers/UserSignup/">
                                <b>
                                    <u>
                                        Register here
                                    </u>
                                </b>
                            </a>
                        </p>
                    </form>
                    <hr>


                    <a href="{% url 'social:begin' 'google-oauth2' %}">
                        <!-- <img src="{% static 'img/main-img/google-img/btn_google_dark_normal_ios.svg' %}"
                            class="img-fluid" alt="Responsive image"> -->
                        <span class="text-danger">
                            <i class="fab fa-google"></i> Google
                        </span>
                    </a>
                    |

                    <a id="if_fb" href="{% url 'social:begin' 'facebook' %}">
                        <!-- <img src="{% static 'img/main-img/facebook-img/f_logo_RGB-Blue_58.png' %}"
                            class="img-fluid" alt="Responsive image" width="5%"> -->
                        <span>
                            <i class="fab fa-facebook"></i> Facebook
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock document_container %}