{% extends "base_not_nav.html" %}
{% load staticfiles %}

{% block document_container %}

<div class="container pl-0 pr-0 mb-2 widget">

  <div class="row">
    <div class="col">
      <a href="{% url 'WASP:home' %}"><i class="fas fa-chevron-left"></i> Back</a>

    </div>
    <div class="col text-right">
      <a href="/wasp/media/storage/{{access_token}}/output.final" download><i class="far fa-file-alt"></i> Download file</a>
      <a href="/wasp/media/storage/{{access_token}}/output.final_xml" download><i class="far fa-file-code"></i> Download xml</a>
      
    </div>
  </div>
</div>

<div class="container border shadow-sm" style="background-color: rgb(251, 251, 251);">
  <br>
<h6 class="mb-4"><u>
Try to relax some primer picking parameters if WASP cannot design any allele specific primers.</u></h6>
  <pre>
{{result}}
</pre>

</div>
<script>
  $( function() {
    $( ".widget input[type=submit], .widget a, .widget button" ).button();

  } );
  </script>
{% endblock document_container %}